# Node modules
node_modules/

# Log files
*.log

# Environment variables file
.env

# OS-specific files
.DS_Store
Thumbs.db

# npm package lock
package-lock.json

# Debugger configuration files
.vscode/

# Other potentially sensitive files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
